# OpenAI API Key
OPENAI_API_KEY=
OPENAI_MODEL=gpt-3.5-turbo

# 微信机器人名称
BOT_NAME=ChatGPT助手

# OpenAI API Base URL
OPENAI_BASE_URL=https://api.openai.com/v1

# Wechaty Token
# 访问 http://pad-local.com/#/tokens 申请 token
WECHATY_PUPPET_PADLOCAL_TOKEN=